<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://www.gov.uk/coronavirus">Official GOV.UK Advice</a></li>
							<li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS Coronavirus Advice</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://www.gov.uk/guidance/coronavirus-covid-19-getting-tested">Coronavirus Testing</a></li>
							<li><a href="https://donate.refuge.org.uk/">Donate to Refuge</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://www.nhscharitiestogether.co.uk/donate/">Donate to the NHS</a></li>
							<li><a href="https://www.medsupplydrive.org.uk/">Donate PPE Supplies</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-4 mt-lg-0">
				A Covid-19 Visualiser for UK Data Sources
			</div>
		</div>
	</div>
</div>
